<!DOCTYPE html>
<html>
<head>
  <title>Game Trader</title>
</head>
<body>
  <form action="/createPost" method="post">
    <label>Image URL: </label> <input type="text" name="imageUrl" required />
    <label>Description: </label> <input type="text" name="description" required />
    <button type="submit">Submit</button>
  </form>
</body>
</html>
